# Core
ultralytics>=8.0.0
torch>=2.3.0
torchvision
opencv-python
pillow
numpy
pandas
matplotlib
# Web UI
streamlit
# Translation & TTS
googletrans==4.0.0-rc1
gTTS
# Webhooks & Twilio
flask
twilio
requests
# For deployment & inference export
onnx
onnxruntime
# Utilities
geopy
tqdm
python-dotenv
python==3.11